section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: auto !important;
  align-items: center;
  background-color: #a3c0c0;
}

header {
  background-color: #dbd8d8;

  text-align: center;
  width: auto;
  align-self: auto;
}
img {
  width: 500px; /* Set the width to the desired size */
}

.button {
  transition: background-color 0.3s ease;
  margin: 1%;
}
