.flex-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* Add some styles for the flex items (optional) */
.flex-item {
  margin: 30px;
  padding: 20px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #6db9cc;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* h1 {
  color: #3498db;
  text-align: center;
  margin: 20px 0;
} */
section {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a3c0c0;
}
header {
  background-color: #dbd8d8;
  color: #3498db;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  align-self: auto;
}
img {
  display: block;
  margin: 0 auto;
  padding: 0;
  border-radius: 10%;
  width: 500px; /* Set the width to the desired size */
  height: auto; /* Set the height to the desired size */
  object-fit: cover; /* Ensure the image covers the entire container */
}

.button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #ffffff;
  border: 2px solid #2980b9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px;
  width: fit-content;
  align-self: center;
}

.button:hover {
  background-color: #2980b9;
}
.title {
  color: white;
  background-color: #3498db;
  padding: 40px 40px 40px 5px;

  border-radius: 0% 45% 45% 00%;
}
.name {
  color: #3498db;
  background-color: white;
  padding: 40px 5px 40px 40px;

  border-radius: 50% 0% 0% 50%;
}
.text {
  width: 30%;
  font-size: large;
}
